
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-github-1:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-youtube-play-1:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-brush:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-code-1:before { content: '\e807'; } /* '' */
.icon-brush-1:before { content: '\e808'; } /* '' */