html{
  height:100%;
  width:100%;
  color:black;
  font-family: telegrafico;
  overflow-x: hidden;
}
body,p,a,html{
  padding:0;
  margin:0;
  text-decoration: none;
}
a{
  color:black;
}
/*FONTS*/
@font-face{
  font-family: telegrafico;
  src:url("../font/telegrafico.ttf");
}
/*IDS*/
#logo{
  height:auto;
  width:25%;
}
#Page_1_Desc{
  font-size:2em;
  text-align: center;
}
#Page_1_Text_Container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Page_1_Text{
  font-size:4em;
}
#Page_1_Text_Big_A{
  font-size:10em;
}

#Nav_Bar_Follows{
  color:white;
  font-size:2em;
  width:100%;
  display:flex;
  justify-content: space-around;
  left:0;

  z-index: 2;
}


#people_container{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  height:100%
}

#Page_2{
  font-size:0.85em;
}
#Page_2_Text_Container{
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size:2em;
}
#Page_2_Text_4,#center_container,#Page_2_Text_1{
  height:33%;
}
#Page_2_Text_4{
  color:black;
}
/*CLASSES*/
.project_cover{
  position:absolute;
  cursor: pointer;
  z-index: 5;
}
.project_background{
  width:110%;
  top:-50%;
  position:absolute;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition:-webkit-filter 0.5s;
  transition:filter 0.5;
}
.project_text{
  position:absolute;
  color:white;
  transition:all 0.5s;
  text-shadow: 2px 2px black;

}
.project_title{
  padding-left:10px;
  top:0;
  left:0;
  font-size:5em;
  z-index: 2;
}
.project_desc{
  padding-right:10px;
  bottom:0;
  right:0;
  font-size:2em;
  z-index: 2;
}
/*
.triangle1{
  width: 0;
  height: 0;

  position:absolute;
  top:-20%;
  left:0;
  transition: top 0.5s;
}
.triangle2{
    width: 0;
    height: 0;
    position:absolute;
    right:0;
    bottom:-20%;
    transition: bottom 0.5s;
}
*/
.project{
  background-color:red;
  width:50%;
  height:25%;
  position:relative;
  overflow:hidden;
}
.tech_box{
  position:absolute;
  font-size:1.5em;
  color:white;
  background-color:black;
  padding: 15px;
  border-radius:0.3em;
}
.Page_2_title{
  font-size:1.5em;
}
.person_name{
  font-size:2em
}
.person_image{
  height:auto;
  width:25%;
  border-radius: 0.9em;
}
.active{
  padding-top:10px;
  opacity: 0.9;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
.inactive{
  padding-top:0px;
  opacity: 0.5;
}
.inactive:hover{
  opacity: 0.8;
}
.tech_logo{
  height:30%;
  width:auto;
}
.person{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition:filter 0.25s;
  transition:-webkit-filter 0.25s;
}
.person:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.flexcontainer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flexcontainer_column{
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height:50%;
}
.follow{
  position: fixed;
  top:0;
  align-items: flex-start;
}
.static{
  position:absolute;
  bottom:0;
  align-items: flex-end;
}
.nav_bar_child{
  background-color: black;
  width:25%;
  text-align: center;
  transition: opacity 0.25s;
  color:white;
}
.take_parent_height_width{
  height:100%;
  width:100%;
}
.take_parent_width{
  width:100%;
}
.email{
  opacity: 0.7;
  transition: opacity 0.25s;
}
.email:hover{
  opacity: 1;
  text-decoration: underline;
}
/*MEDIA  STUFF */
@media screen and (max-width: 625px) {
  #Nav_Bar_Follows{
    font-size:1.5em;
  }
  .inactive{
    padding-top:10px;
    padding-bottom:10px;
  }
  .active{
    padding-top:30px
  }
  .person{
    width:100%;
  }
}
