.service-container {
  margin-top:12vh;
  margin-bottom:12vh;
  display: flex;
  flex: {
    direction: column;
  }
  align-items: center;
  justify-content: center;
}
.service-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  .service-icon {
    color:white;
    transition: all 1s;
    width:80px;
    height:80px;
  }
  .service-button {
    position:relative;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 150px;
    margin: 20px;
    overflow: hidden;
    background-color: $button-background;
    transition:background-color .5s;
    &:hover {
      .service-icon {
        height:100px;
        width:100px;
      }
    }
    .service-overlay{
      height:100%;
      width:100%;
      position: absolute;
      top:0px;
      left:0px;
      z-index: 2;
    }
    .service-button-icon{
      width:40%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .service-button-text-container{
      width:60%;
      color:white;
      .service-button-text{
        font-size:3em;
        text-align: left;
      }
    }
  }
}
//Blink keyframe
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
