.project-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .project {
    margin: 10px;
    padding: 10px;
    background-color: $project-background-color;
    border: {
      radius: 0.1em;
    }
    position: relative;
    overflow: hidden;
    width: 300px;
    &:hover {
      .project-image {
        width: 740px;
        opacity: 1;
      }
      .project-cover {
        top: 0;
      }
    }
    &:before{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 80px 20px 0px;
      border-color: transparent transparent #007bff transparent;
    }
    .project-ripple-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      //top: 100%;
    }
    .project-desc{
      width:90%;
      color:white;
      text-align: center;
      font-size:2em;
    }
    .project-cover {
      height: 100%;
      background-color: rgba(51,0,102,0.8);
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      transition: all 1s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 2;
    }
    .project-name {
      user-select: none;
      font: {
        size: 3em;
      }
      color: white;
    }
    .project-image-surrounder {
      position: relative;
      height: 400px;
      width: 300px;
      overflow: hidden;
    }
    .project-image {
      opacity: 0.6;
      transition: all 0.25s;
      width: 800px;
      height: auto;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }
}
