//Variables
$background-color-default: #69f;
$text-color: #fff;
$main-font: telegrafico;
$button-background: #87ceeb;
$footer-background: #4b0082;
$project-background-color: #4b0082;
$header-background-color: #4b0082;
//PERSON STYLES
@import 'personstyles';
@import 'flipstyles';
@import 'projectstyles';
@import 'contactsstyles';
@import 'buttons';
// OVERIDES
footer {
  background-color: $footer-background;
  height: 10%;
  margin-top: 10%;
}

html {
  background-color: $background-color-default;
  font-family: $main-font;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

html,
body,
p {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text: {
    decoration: none;
  }
}
//FONTS
@font-face {
  font-family: telegrafico;
  src: url('../font/telegrafico.ttf');
}
//CLASSES
.normal-text {
  text-align: center;
  font-size: 2em;
  color: white;
}

.section-header {
  padding-top: 80px;
  font: {
    size: 4em;
  }
  text: {
    align: center;
  }
  color: white;
}

.left-top {
  top: 0;
  left: 0;
}

.right-top {
  right: 10px;
  top: 10px;
}

.text-box {
  height: 50%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.large-text {
  font: {
    family: $main-font;
  }
  text: {
    align: center;
  }
  color: $text-color;
}
//MEDIA QUERIES
@media screen and (min-width: 550px) {
  .contacts-container .contacts-email-container {
    width: 500px;
  }

  .contacts-container .contacts-email {
    font-size: 2em;
  }

  .button-holder {
    display: flex;
  }

  .button-holder-mobile {
    display: none;
  }
}
