//Variables
$background-color-default:#6699ff;
$text-color:white;
$main-font:telegrafico;
$button-background:skyblue;
$footer-background:#4B0082;
$project_background_color:#4B0082;
$header_background_color:#4B0082;
/*PERSON STYLES */
@import "personstyles";
@import "flipstyles";
@import "projectstyles";
@import "contactsstyles";
@import "buttons";


/* OVERIDES */
footer{
  height:10%;
  background-color:$footer-background;
  margin-top: 10%;
}
html{
  background-color: $background-color-default;
  height:100%;width:100%;
  font-family: $main-font;
  overflow-x: hidden;
}
html,body,p{
  border:0;
  padding: 0;
  margin:0;
}
body{
  height:100%;
  width:100%;
}
a{
  text:{
    decoration:none;
  }
}
/* FONTS */
@font-face{
  font-family: telegrafico;
  src:url("../font/telegrafico.ttf");
}



/*CLASSES*/
.normal_text{
  text-align: center;
  font-size:2em;
  color:white;
}

.section_header{
  padding-top:80px;
  font:{
    size:4em;
  }
  text:{
    align:center;
  }
  color:white;
}

.left_top{
  top:0px;
  left:0px;
}
.right_top{
  right:10px;
  top:10px;
}
.text_box{
  height:50%;
  width:100%;
  overflow-x: hidden;
  overflow-y: visible;
}


.page{
  height:100%;
  width:100%;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.large_text{
  font:{
    family:$main-font;
  }
  text:{
    align:center;
  }
  color:$text-color;
}


/*MEDIA QUERIES */
@media screen and (min-width: 550px) {
  .contacts_container .contacts_email_container {
    width: 500px;
  }
  .contacts_container .contacts_email{
    font-size:2em;
  }
  .button_holder{
    display:flex;
  }
  .button_holder_mobile{
    display:none;
  }
}
