<nav class="nav">
  <a href="/" class="left item">
    <img src="/images_prod/logowhite.svg" class="logo" />
    <p class="text">lpha Dev</p>
    <div class="fillbar"></div>
    <div class="fillbar topright"></div>
    <div class="fillbarvertical"></div>
    <div class="fillbarvertical topright"></div>
  </a>
  <div class="desktop">
    <!--<a href="/work" class="item">
      <p class="text">Work</p>
    </a>
  -->
    <a href="/experience" class="item">
      <p class="text">Experience</p>
      <div class="fillbar"></div>
      <div class="fillbar topright"></div>
      <div class="fillbarvertical"></div>
      <div class="fillbarvertical topright"></div>
    </a>
    <!--
    <a href="/people" class="item">
      <p class="text">People</p>
    </a>
  -->
    <a href="/blog" class="item">
      <p class="text">Blog</p>
      <div class="fillbar"></div>
      <div class="fillbar topright"></div>
      <div class="fillbarvertical"></div>
      <div class="fillbarvertical topright"></div>
    </a>
  </div>
  <div class="taptarget">
    <div class="taptarget--div"></div>
    <div class="taptarget--div"></div>
    <div class="taptarget--div"></div>
  </div>
  <div class="mobile">
    <!--
    <a href="/work" class="item">
      <p class="text">Work</p>
    </a>
  -->
    <a href="/" class="item">
      <p class="text">Home</p>
      <div class="fillbar"></div>
      <div class="fillbar topright"></div>
      <div class="fillbarvertical"></div>
      <div class="fillbarvertical topright"></div>
    </a>
    <a href="/experience" class="item">
      <p class="text">Experience</p>
      <div class="fillbar"></div>
      <div class="fillbar topright"></div>
      <div class="fillbarvertical"></div>
      <div class="fillbarvertical topright"></div>
    </a>
    <!--
    <a href="/people" class="item">
      <p class="text">People</p>
    </a>
  -->
    <a href="/blog" class="item">
      <p class="text">Blog</p>
      <div class="fillbar"></div>
      <div class="fillbar topright"></div>
      <div class="fillbarvertical"></div>
      <div class="fillbarvertical topright"></div>
    </a>
  </div>
</nav>
